
body {
  background-color: white;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: center;
}


.points-list {
  width: 120px;
  height: 450px;
  box-sizing: border-box;
  background: white;
  margin: auto
}

.weekday-box {
  width: 15px;
  height: 15px;
  float: left;
  padding: 0px;
  margin: 1px;
}
.commit-box {
  background: #f5f5f5;
  /* border-style: solid; */
  /* border-color: rgb(216, 216, 216); */
  /* border-width: 1px; */
  width: 15px;
  height: 15px;
  float: left;
  padding: 0px;
  margin: 1px;
}

.commit-box.committed {
  background-color: green;
}
.fa.apple {
  color: white;
  display: inline-block;
  font: normal normal normal 25px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fa.snake-segment {
  display: inline-block;
  font: normal normal normal 30px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}


.snake-board {
  margin: auto;
  width: 450px;
  height: 450px;
  background-color: #f5f5f5;
/*  border: 1px solid #ddd;*/
  color: black;
  /*float: top;*/
  font-family: sans-serif;
}

.welcome-message {
  text-align: center;
  margin: auto;
  width: 450px;
  color: black;
  /*float: top;*/
  font-family: sans-serif;
  font-size: -webkit-xxx-large;
  text-align: center;
}

.box {
  border: 1px solid white;
  padding: 0;
  float: left;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background: #f5f5f5;
  position: relative;
}

.box.has-apple {
  background-color: rgb(68, 163, 64)
}

.box.has-apple.level-1 {
  background-color: #d6e685;
}

.box.has-apple.level-2 {
  background-color: #8cc665;
}

.box.has-apple.level-3 {
  background-color: #44a340;
}

.box.has-apple.level-4 {
  background-color: #1e6823;
}

.box.occupied {
  background: green;
}
