.snake-board {
  width: 460px;
  height: 460px;
  background: whitesmoke;
  border: 1px solid black;
  box-sizing: border-box;
}

.box {
  border: 1px solid black;
  float: left;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background: gray;
  position: relative;
}

.box.occupied {
  background: green;
}
